{% extends 'user/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    {% block content %}
            <!-- <div class="row">
                <div class="span12">
                    <ul class="thumbnails">
                        <li class="span5 clearfix">
                          <div class="thumbnail clearfix">
                            <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                            <div class="caption" class="pull-left">
                              <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Add</a>
                              <h4>New Patient</h4>
                              <small><b>RG: </b>99384877</small>  
                            </div>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    {% endblock %}
</body>
</html>