<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile</title>
  </head>
  <body>
    {{ user.username }}
    {{user.items}}

    <ul>
      {% for item in user_items %}
      <li>{{ item.name }}</li>
      {% endfor %}
    </ul>

    {% if not user_items %}
    <p>No items owned</p>
    {% endif %}

    <form action="{% url 'user:user_logout'%}">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
